.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
build/
dist/
.eggs/
*.egg-info/
pip-wheel-metadata/
*.egg
.ipynb_checkpoints
.DS_Store
.idea/
*.log
*.sqlite3
*.db
*.bak
*.swp
*.swo
*.tmp
*.old
*.orig
*.rej
*.class
*.iml
out/
*.exe
*.dll
*.so
*.dylib
*.lib
*.obj
*.o
*.ilk
*.pdb
*.class
*.jar
*.war
*.ear
*.log
coverage/
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
*.zip
settings.json
launch.json
main.dist/certifi/cacert.pem
